<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.app.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.app.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FlyAwayController</servlet-name>
    <servlet-class>com.app.controller.FlyAwayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FlyAwayController</servlet-name>
    <url-pattern>/FlyAwayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirlineController</display-name>
    <servlet-name>AirlineController</servlet-name>
    <servlet-class>com.app.controller.AirlineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirlineController</servlet-name>
    <url-pattern>/AirlineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightController</display-name>
    <servlet-name>FlightController</servlet-name>
    <servlet-class>com.app.controller.FlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightController</servlet-name>
    <url-pattern>/FlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationController</display-name>
    <servlet-name>LocationController</servlet-name>
    <servlet-class>com.app.controller.LocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationController</servlet-name>
    <url-pattern>/LocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPwdController</display-name>
    <servlet-name>AdminPwdController</servlet-name>
    <servlet-class>com.app.controller.AdminPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPwdController</servlet-name>
    <url-pattern>/AdminPwdController</url-pattern>
  </servlet-mapping>
</web-app>